*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f7fb;
    color:#333;
}


/* Navigation */

nav{

    background:#2563eb;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

}


nav h2{

    margin:0;

}


nav a{

    color:white;
    text-decoration:none;
    margin:0 10px;
    font-weight:bold;

}


nav a:hover{

    text-decoration:underline;

}



/* Header */

header{

    background:white;
    text-align:center;
    padding:40px 20px;

}


header h1{

    color:#2563eb;
    font-size:40px;

}



/* Search */

.search-section{

    text-align:center;
    padding:25px;

}


.search-section input{

    width:60%;
    max-width:500px;
    padding:15px;
    border-radius:8px;
    border:1px solid #ccc;

}


button{

    background:#2563eb;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:8px;
    cursor:pointer;
    margin:5px;

}


button:hover{

    background:#1d4ed8;

}



/* Product Grid */

.product-grid{

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;
    padding:20px;

}



/* Product Card */

.product{

    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.product img{

    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;

}


.product h3{

    color:#2563eb;

}


.product p{

    line-height:1.5;

}



/* Cart / Wishlist */

.cart-box,
.wishlist-box{

    background:white;
    margin:20px;
    padding:20px;
    border-radius:15px;

}



/* Footer */

footer{

    background:#111827;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;

}



/* Mobile */

@media(max-width:600px){


nav{

    flex-direction:column;

}


.search-section input{

    width:90%;

}


header h1{

    font-size:30px;

}


}
.hero{

background:#ffffff;
padding:60px 20px;
text-align:center;

}


.hero h1{

font-size:45px;

}


.hero p{

font-size:20px;

}
.product-details{

background:white;
max-width:700px;
margin:30px auto;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);

}


.product-details img{

width:100%;
max-height:400px;
object-fit:cover;
border-radius:15px;

}


.product-details textarea{

width:100%;
height:100px;
padding:10px;

}
